.learning_checkout_list{
    padding-top: 100px;
    min-height: 600px;
    h2{
        width: 70%;
        color: $gray;
        margin: 0 auto;
        margin-bottom: 25px;

    }
    .checkout_total{
        text-align: right;
        margin-top: 25px;
    }
    .button_choose{
        text-align: center;
        margin-top: 50px;
        button{
            margin: 10px;
        }
    }
    .img_wallet{
        width: 70%;
        text-align: right;
        margin: 0 auto;
        img{
            max-width: 126px;
            width: 30%;
        }
    }
    
}