<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>陪你旅行_選擇顧問</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./tgd104-sass/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header -->
    <header>
        <div class="header_container">
          <i id="h_bar" class="fa-solid fa-bars"></i>
          <img src="image/logo_header.png" alt="" />
          <div class="h_icon">
            <a href="#"><i class="fa-solid fa-user"></i></a>
            <a href="#"><i class="fa-solid fa-user-tie"></i></a>
          </div>
        </div>
      </header>
    <!-- header end -->

    <!-- sel_travel_consultant_banner -->
    <div class="sel_travel_consultant_banner">
      <div class="container">
        <h1>
          不孤單的旅行，<br>
          就從有<span>陪你</span>開始。
        </h1>
        <h2>喜歡登山？喜歡單車？喜歡潛水？</h2>
        <h3>就讓<span>陪你</span>成為你的好旅伴，一起來場無限可能的旅行吧！</h3>
        <h4>開始預約<span>陪你</span>顧問</h4>
        <i class="fa-regular fa-circle-down"></i>
      </div>
    </div>
    <!-- sel_travel_consultant_banner end -->
    
    <!-- sel_travel_consultant -->
    <div class="sel_travel_consultant">

      <div class="self_or_random">
        <div class="self">自定義</div>
        <div class="random"><a href="">隨機</a></div>
      </div>

      <div id="app"> <!-- HTML DOM template -->    
          <div class="self_consultant">
              <button @click="content='all'" :class="{ 'self_consultant_all': content === 'all', 'self_consultant_unall': content !== 'all' }">全部</button>
              <button @click="content='boy'" :class="{ 'self_consultant_boy': content === 'boy', 'self_consultant_unboy': content !== 'boy' }">男性</button>
              <button @click="content='girl'" :class="{ 'self_consultant_girl': content === 'girl', 'self_consultant_ungirl': content !== 'girl' }">女性</button>
          </div> 
          <div class="container">                
              <component :is="content"></component>

              <div class="all_wrapper">
                <!-- <template v-for="header in headers"> -->
                <template v-for="(header, index) in headers">
                    <div class="consultant_card">
                      <ul>
                          <li>
                              <input type="checkbox" name="" id="button_id">
                              <a href=""><img src="./image/consultant_card.png" alt=""></a>
                              <h1>裴大尼 </h1>
                              <h2>5年經驗登山嚮導</h2>
                              <!-- <i class="fa-regular fa-solid fa-heart"></i> -->
                              <!-- <i class="fa-regular fa-heart" :class="{ 'fa-solid': isFavorite(header) }" @click="toggleFavorite(header)"></i> -->
                              <i class="fa-regular fa-heart" :class="{ 'fa-solid': isFavorite(index) }" @click="toggleFavorite(index)"></i>
                              <!-- <span v-if="isFavorite(header)">已收藏</span> -->
                              <!-- <i class="fa-solid fa-heart"></i> -->
                          </li>
                      </ul>
                    </div>                  
                </template>
              </div>

              <div class="page_number">
                <a href=""><i class="fa-solid fa-angle-left"></i></a> 
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#"><i class="fa-solid fa-angle-right"></i></a>
              </div>
              
          </div>       
      </div>

    </div>
    <!-- sel_travel_consultant end-->


    <div class="sel_travel_consultant_button">
      <div class="container">
          <button class="outline_btn_orange">重新選擇地區</button>
          <button class="btn_orange">開始預約</button>
      </div>
    </div>


    <!-- footer -->
    <footer>
    <div class="footer_inner">
        <div class="footer_content">
        <div>
            <a href="index.html">
            <img src="image/logo_footer.png" alt="陪你" />
            </a>
        </div>
        <div class="footer_content_word">
            <div>
            <p class="title">聯絡我們</p>
            <p>服務專線：(02)2712-0589</p>
            <p>服務信箱：accompanyyou@gmail.com</p>
            <p>營業時間：週一 ~ 週五 8：00 ~ 17：00</p>
            </div>
            <div>
            <p class="title">關於我們</p>
            <p>找不到人陪你? 陪你陪你，讓你不再孤單!</p>
            <p>陪你旅行 不孤單的旅行，就從有陪你開始</p>
            <p>陪你學習 讓學習散撥至各地</p>
            </div>
        </div>
        </div>
        <div class="footer_socialmedia">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-line"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <hr />
        <p class="tibame">
        本網站為緯育TibaMe前端工程師班第82期學員專題作品，本平台僅供學習、展示之用。<br />2023
        © All rights reserved
        </p>
    </div>
    </footer>
    <!-- footer end -->


    <script>
        const App = Vue.createApp({
            data(){
                return {
                    content: 'all',
                    headers: ['','','','','','','','','','','','','','','',''],
                    favorites: [],
                }
            },
            methods: {
                isFavorite(index) {
                  return this.favorites.includes(index)
                },
                toggleFavorite(index) {
                  if (this.isFavorite(index)) {
                    const favoriteIndex = this.favorites.indexOf(index)
                    this.favorites.splice(favoriteIndex, 1)
                  } else {
                    this.favorites.push(index)
                  }
                },
            },
            // computed: {  把資料寫進後台
            //     isFavorite() {
            //       return (header) => {
            //         return this.favorites.indexOf(header.id) !== -1;
            //       }
            //     }
            // },
        })
        // global component
        App.component('all', {
            template: `

            `,
        })
        App.component('boy', {
            template: `

            `,
        })
        App.component('girl', {
            template: `
            `,
        })  
        
        App.mount('#app')
        
    </script>

</body>
</html>