/* consultant_gallary start */
.consultant_gallary{
    display: flex;

    .consultant_gallary_main{

        img{
            border: 3px solid #79CBD4;
            border-radius: 10px;
        }
    }

    .consultant_gallary_small{
        display: flex;
        flex-direction: column;
        img{
            border: 3px solid #79CBD4;
            border-radius: 10px;
            width: 160px;
        }
    }
}
/* consultant_gallary end */





