.checkout_list {
  background-color: #79cbd4;
  width: 70%;
  margin: 0 auto;
  border-radius: 15px;
}
.checkout_method {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fafafa;
}
.checkout_method:first-child {
  border-bottom: 1px solid #ccc;
}
