/* footer */




footer {
  background-color: #faeecd;
}

.footer_inner {
  padding: 60px 100px 70px 100px;
  max-width: 1320px;
  margin: 0 auto;
}

.footer_content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_content div {
  margin: 20px;
}

.footer_content_word {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_content_word p {
  line-height: 1.6;
}

.footer_socialmedia i {
  color: #ff7426;
  font-size: 35px;
  margin: 5px;
}

hr {
  border: 1px solid #585858;
  margin: 15px 0;
}

.footer_socialmedia,
.tibame {
  text-align: center;
}

/* footer end */

/* ===========================RWD======================== */

/* ----------螢幕小於970px時---------- */
@media screen and (max-width: 970px) {
  .footer_content div {
    text-align: center;
  }
  .footer_inner {
    padding: 20px;
  }
}
