.consultant_gallary{

}

.consultant_gallary_main{
    
}

.consultant_gallary_main img{
    border: 3px solid #79CBD4;
    border-radius: 10px;
}

.consultant_gallary_small{

}

.consultant_gallary_small img{
    border: 3px solid #79CBD4;
    border-radius: 10px;
    width: 160px;
}