/* header */
/* header {
  background-color: #faeecd;
}

.header_container {
  max-width: 1320px;
  position: relative;
  margin: 0 auto;
}

.header_container img {
  display: block;
  margin: 0 auto;
}

#h_bar {
  font-size: 35px;
  color: #585858;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 80px;
  margin-left: 20px;
}

.h_icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.h_icon i {
  color: #585858;
  font-size: 35px;
  line-height: 80px;
  padding-right: 10px;
  padding-left: 10px;
} */

/* header end */
