.table_bottom{
    border-collapse: collapse
}
table tr{
    border-radius: 5px;
    /* display: flex;
    align-items: center; */
}

.table_bottom tr:last-child{
    background-color: #79cbd4;
}

td{
    text-align: center;
    padding: 20px 50px;
    vertical-align: middle;
}
td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    vertical-align: center;
}

td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: center;

}

td img{
    width: 139px;
    display: block;
}

.list-content{
    
}
