/* header */
header {
    background-color: $ft_yellow;

  .header_container {
    max-width: 1320px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    width: 90%;
    
        #h_bar {
            font-size: 35px;
            color: $gray;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            line-height: 80px;
            margin-left: 0px !important;
            &:hover{
                color: #ff7d33;
            }
        }

        img {
            display: block;
            margin: 0 auto;
            height: 65px;
        }

        .h_icon {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            width: 10%;
            justify-content: space-evenly;

            #member_icon{
                color: #585858;
                font-weight: 600;
                align-self: center;
                img{
                    display: block;
                    width: 50px;
                    height: 50px;
                }
                p{
                    text-align: center;
                }
                &:hover{
                    color: #ff7d33;
                    animation: logo 0.5s ease forwards;
                    @keyframes logo {
                        0% {
                            transform: translateY(0); /* 設定起始位置 */
                        }
                        100% {
                            transform: translateY(-3px); /* 設定漂浮的最高點位置 */
                        }

                    }
                }
            }
            #consultant_icon{
                color: #585858;
                font-weight: 600;
                align-self: center;
                img{
                    display: block;
                    width: 50px;
                    height: 50px;
                }
                p{
                    text-align: center;
                }
                &:hover{
                    color: #ff7d33;
                    animation: logo 0.5s ease forwards;
                    @keyframes logo {
                        0% {
                            transform: translateY(0); /* 設定起始位置 */
                        }
                        100% {
                            transform: translateY(-3px); /* 設定漂浮的最高點位置 */
                        }
                    }
                }
            }

            // i {
            //     color: $gray;
            //     font-size: 35px;
            //     line-height: 80px;
            //     padding-right: 10px;
            //     padding-left: 10px;
            // }
        }
    }
}
  
/* header end */
  

@mixin header ($breakpoint){
    @media screen and (max-width: $breakpoint) {
    @content;  
        @if $breakpoint == 1200px{
            
        }

        @else if $breakpoint == 992px{


        }

        @else if $breakpoint == 768px{


        } 

        @else if $breakpoint == 576px{


        }
    }
}

@include header(1200px){
    /* header */
    header {
        background-color: $ft_yellow;

    .header_container {
        width: 90%;

            #h_bar {
                
            }

            img {
                
            }

            .h_icon {
                #member_icon{
                    img{
                        display: block;
                        width: 40px;
                        height: 40px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                #consultant_icon{
                    img{
                        display: block;
                        width: 40px;
                        height: 40px;
                    }
                    p{
                        font-size: 14px;
                    }
                }


                i {
                    font-size: 30px;
                }
            }
        }
    }
}
@include header(992px){
    /* header */
    header {
        background-color: $ft_yellow;

    .header_container {
        height: 75px;

            #h_bar {
                font-size: 25px;
            }

            img {
                height: 55px;
            }

            .h_icon {


                i {
                    font-size: 25px;
                }
            }
        }
    }
}
@include header(768px){
    header {

    .header_container {
        height: 75px;

            #h_bar {
                font-size: 25px;
            }

            img {
                height: 55px;
            }

            .h_icon {


                i {
                    
                }
            }
        }
    }
}

@include header(576px){
    
    header {
        background-color: $ft_yellow;

    .header_container {
        height: 75px;
        

            #h_bar {
                font-size: 25px;
            }

            img {
                height: 55px;
            }

            .h_icon {


                i {
                    
                }
            }
        }
    }
}