.table_bottom{
    border-collapse: collapse;
    background-color: #DCECEE;
    border-radius: 5px;
    tr{
        border-radius: 5px;
        td:first-child{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            vertical-align: center;
        }
        td{
            text-align: center;
            padding: 20px 50px;
            vertical-align: middle;

            img{
                width: 139px;
                display: block;
            } 
        }
        td:last-child{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            vertical-align: center;

        }
    }
    tr:last-child{
        margin-top: 10px;
    }
}


//   /* ----------螢幕小於1200px時---------- */
@media screen and (max-width: 1200px) {

    .table_bottom {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

  }










