.top_box {
  height: 200px;
  background-color: $clear_white;
  border-radius: 5px;
  border: 1px solid $bg_gray;
  .avatar {
    border-radius: 50%;
    background-image: url("../../../image/member/avatar.jpg");
    background-position: -50px -20px;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 25px;
    position: relative;
    a {
      color: $gray;
    }
    i {
      position: absolute;
      bottom: 10px;
      right: 0px;
      background-color: $clear_white;
      border-radius: 50%;
      padding: 5px;
      &:hover {
        color: $dark_blue;
      }
    }
  }
  .avatar.c-avatar {
    background-image: url("../../../image/member/consultant_info.jpg");
    background-position: center center;
  }
  p {
    margin: 10px auto;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  }
}
