/* banner*/

.learning_content{
    max-width: 100%;
    height: 850px;
}

.container_learning{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-top: 80px;
}

.container_learning h1{
    font-size: 48px;
    font-weight: 600;
}

.container_learning p{
    font-size: 20px;
    margin-left: 20px;
}

.container_learning img{
    width: 80%;
    max-width: 800px;
}

.container_learning_bottom img{
    width: 40%;
    max-width: 260px;
}

.lesson_tip p{
    font-size: 32px;
}

.lesson_tip{
    margin-left: 80px;
}

.learning_content span{
    font-size: 48px;
    color: #ff7d33;
    margin-left: 20px;
}


.container_learning_bottom{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: end;
    align-items: end;
}

/* banner end */


/* 輪播 */

.learning_main{
    background-image: url("../../image/learning/learning_bgi2.png");
    background-position: top;
}

.hot_learning{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 40px;
}


.hot_learning:after{
    content: '';
    width: 216px;
    display: block;
    margin: -18px auto;
    height: 15px;
    background-color: #ff7d33;
}


.item h4{
    padding: 10px;
    background-color: #faeecd;
    border-radius: 10px;
}

.item h4 img{
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
}

.owl-nav{
    display: none;
}


.owl-stage-outer{
    margin-bottom: 60px;
    margin-top: 80px;
}



.learning_icon{
    max-width: 1320px;
    margin: 0 auto;
}


.learning_icon .item h4{
    padding: 10px;
    background-color: #faeecd;
    border-radius: 10px;
}

.learning_icon .item h4 img{
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    display: inline-block;
}


.content_p{
    font-size: 20px;
}


.learning_icon div{
    text-align: center;

}

.learning_more {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}

.learning_more button{
    cursor: pointer;
}




.owl-carousel{
    max-width: 1000px;
    margin: 0 auto;
}



/* 輪播 end */

/* 學員心得 */
.student_share{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}




.learning_wrapper{
    position: relative;
    width: 520px;
    height: 800px;
    margin: 0 auto;
}



.student_share_word {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 40px;
}


.student_share_word:after{
    content: '';
    width: 216px;
    display: block;
    margin: -18px auto;
    height: 15px;
    background-color: #ff7d33;
}

.box{
	margin: 50px auto;
    width: 239px;
    height: 334px;
    position: relative;
    transform-style: preserve-3d;/*3D效果 */
    transition: 1s ease;
}

.card{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
  /*表示隱藏被旋轉div元素的背面，這樣旋轉之後，第一張卡片是背面朝螢幕方向，看不到，第二張卡片旋轉之後則是正面朝像螢幕，即形成了旋轉的效果。 */
	border-radius: 20px;
}


.card p{
    margin: 0 auto;
    font-size: 20px;
}


.front,
.back{
	background-color: #faeecd;
    background-size: cover;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,0.1);
    text-align: center;
    padding: 30px;
}

.back,
.flipped{
	transform: rotateY(180deg);
}


.front img{
    width: 100%;
    border-radius: 5px;
}



.learning_wrapper .box_1{
    position: absolute;
    z-index: 3;
}

.learning_wrapper .box_2{
    position: absolute;
    top: 40px;
    left: 300px;
    z-index: 1;
}

.learning_wrapper .box_3{
    position: absolute;
    top: 300px;
    left: 130px;
    z-index: 2;
}



.fa-arrows-rotate{
    position: absolute;
    top: 290px;
    right: 20px;
    font-size: 30px;
    color: #585858;
    margin: 0 auto;
    margin-bottom: 10px;
}



/* 學員心得 end */