/* -----------------------基本----------------------- */
.btn {
  width: 180px;
  height: 50px;
  border-radius: 5px;
}
/* -----------------------primary----------------------- */

.btn_outline_primary {
  border: 3px solid #79cbd4;
  background-color: #fff;
  color: #79cbd4;
  font-weight: 600;
  font-size: 17px;
}

.btn_outline_primary:hover {
  background-color: #bce6eb;
  color: #fff;
}
/* -----------------------outline-primary----------------------- */
.btn_solid_primary {
  background-color: #79cbd4;
  border: 0;
  color: #fff;
  font-size: 17px;
}

.btn_solid_primary:hover {
  background-color: #bce6eb;
  color: #79cbd4;
  border: 3px solid #79cbd4;
}

/* -----------------------orange----------------------- */
.btn_outline_secondary {
  border: 3px solid #ff7d33;
  background-color: #fff;
  color: #ff7d33;
  font-weight: 600;
  font-size: 17px;
}

.btn_outline_secondary:hover {
  background-color: #ffcaab;
  color: #ff7d33;
}
/* -----------------------outline-orange----------------------- */

.btn_solid_secondary {
  background-color: #ff7d33;
  border: 0;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.btn_solid_secondary:hover {
  background-color: #ffcaab;
  color: #ff7d33;
  border: 3px solid #ff7d33;
  font-weight: 600;
}

/* -----------------------nav----------------------- */

.nav {
  background-color: #79cbd4;
  border: 0;
  color: #fff;
  font-size: 17px;
}

.nav:hover {
  background-color: #ebc43a;
  border: 0;
  color: #fff;
  font-size: 17px;
}
