.input_label {
  letter-spacing: 0.5px;
  font-size: 14px;
}

.input_text_style {
  height: 45px;
  border: 1px solid #79cbd4;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 15px;
  transition: all 0.3s ease;
}

.input_text_style:focus {
  background-color: #bce6eb;
  border: 3px solid #79cbd4;
  outline: 0px;
  transition: all 0.3s ease;
}

.input_select_style {
  height: 45px;
  border: 1px solid #79cbd4;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0 25px 0 15px;
  font-size: 15px;
  color: #585858;
  /* ---下拉箭頭樣式--- */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("https://cdn.kkday.com/pc-web/assets/img/bg_dropdown.svg");
  background-repeat: no-repeat;
  background-position: center right 12px;
  /* ---下拉箭頭樣式End--- */
  transition: all 0.3s ease;
}

.input_row div select:focus {
  background-color: #bce6eb;
  border: 3px solid #79cbd4;
  outline: 0px;
  transition: all 0.3s ease;
}
