/* join_benefit */

// *{
//     outline: 1px solid red;
// }
.join_benefit{
    height: 700px;
    // background-color: $bg_yellow;
    background: linear-gradient(-45deg, #FDF8EE, #DCECEE, #FDF8EE, #DCECEE);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	// height: 100vh;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .container{
        h1{
            font-size: $fs28;
            font-weight: 600;
            text-align: center;
            padding: 50px 0 80px 0;
            letter-spacing: 2px;
            span{
                color: $dark_orange;
            }
        }
        .benefit_wrapper{
            display: flex;
            margin: 0 auto;
            .benefit_img{
                align-self: flex-end;
                img{
                    display: block;
                    width: 100%;
                }
            }
            .autoplay{
                .card{
                    width: 300px; 
                    height: 380px; 
                    background-color: $white;
                    border-radius: 15px;
                    text-align: center;
                    margin: 0 auto;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
                    margin-bottom: 40px;
                    .card_img{
                        img{
                            display: block;
                            width: 100%;
                        }
                    }
                    
                    h2{
                        font-size: $fs20;
                        font-weight: 600;
                    }
                }
            }

        }
        
    }
}


/* join_condition */

.join_condition{
    background-image: url('../../image/join/join_condition_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 600px;
    height: 100vh;
    // background-color: $bg_yellow;
    background: linear-gradient(-45deg, #FDF8EE, #DCECEE, #FDF8EE, #DCECEE);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	// height: 100vh;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
        .join_btn{
            background-color: $ft_yellow;
            text-align: center;
            display: flex;
            justify-content: center;
            button{
                color: $gray;
                width: 180px;
                height: 60px;
                font-size: $fs20;
                font-weight: 600;
                border: none;
                background-color: $ft_yellow;
                i{
                    margin-right: 10px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: $light_yellow;
                }
                &.active {
                    background-color: $light_yellow;
                }
            }
            
        }
        .container{
            padding-top: 30px;
            .learn_condition_wrapper{
                width: 600px;
                margin: 30px auto;
                margin-bottom: 80px;
                background: linear-gradient(180deg, $dark_blue 0%, $dark_blue 15%, $clear_white 15%);
                border: 4px solid $dark_blue;
                border-radius: 15px;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
                h4{
                    font-size: $fs20;
                    text-align: center;
                    line-height: 65px;
                    font-weight: 600;
                }
                .learn_condition{
                    ul{
                        width: 500px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        padding: 30px 0;
                        li{
                            width: 170px;
                            line-height: 60px;
                            text-align: center;
                            background-color: $ft_yellow;
                            margin: 20px;
                            border-radius: 5px;
                            font-size: $fs18;
                            font-weight: 600;
                            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
            
                        }
                    }
                }
            }
            .travel_condition_wrapper{
                width: 600px;
                margin: 30px auto;
                margin-bottom: 80px;
                background: linear-gradient(180deg, $dark_blue 0%, $dark_blue 15%, $clear_white 15%);
                border: 4px solid $dark_blue;
                border-radius: 15px;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
                h4{
                    font-size: $fs20;
                    text-align: center;
                    line-height: 65px;
                    font-weight: 600;
                }
                .travel_condition{
                    ul{
                        width: 500px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        padding: 30px 0;
                        li{
                            width: 170px;
                            line-height: 60px;
                            text-align: center;
                            background-color: $ft_yellow;
                            margin: 20px;
                            border-radius: 5px;
                            font-size: $fs18;
                            font-weight: 600;
                            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
            
                        }
                    }
                }
            }

        }

        .join_button{
            text-align: center;
                button{
                    margin: 20px 50px 100px;
                }
        }
              
  
}




/*-------- join rwd start ---------*/

@include rwd(1200px){
    .join_benefit{
        .container{
            width: 100%;
            h1{
                font-size: $fs24;
            }
        }
    }
    .join_condition{
            .join_btn{
                button{
                    font-size: $fs18;
                }
                
            }
            .container{
                width: 100%;
                .learn_condition_wrapper{
                    h4{
                        font-size: $fs18;
                    }
                    .learn_condition{
                        ul{
                            li{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .travel_condition_wrapper{
                    h4{
                        font-size: $fs18;
                    }
                    .travel_condition{
                        ul{
                            li{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }             
      
    }

}

@include rwd(992px){
    .join_condition{
        // background-image: none;
            .join_btn{
                button{
                    font-size: $fs18;
                }
                
            }
            .container{
                width: 100%;
                .learn_condition_wrapper{
                    h4{
                        font-size: $fs18;
                    }
                    .learn_condition{
                        ul{
                            li{
                                font-size: 16px;
                            }
                        }
                    }
                }
                .travel_condition_wrapper{
                    h4{
                        font-size: $fs18;
                    }
                    .travel_condition{
                        ul{
                            li{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }             
      
    }
}

@include rwd(768px){
    .join_benefit{
        .container{
            h1{
                font-size: $fs22;
            }
            .benefit_wrapper{
                .autoplay{
                    .card{
                        h2{
                            font-size: $fs18;
                        }
                    }
                }
    
            }
        }
    }
    .join_condition{
            .container{
                width: 80%;
                .learn_condition_wrapper{
                    width: 100%;
                    .learn_condition{
                        ul{
                            li{
                                width: 35%;
                            }
                        }
                    }
                }
                .travel_condition_wrapper{
                    width: 100%;
                    .travel_condition{
                        ul{
                            li{
                                width: 35%;
                            }
                        }
                    }
                }
            }             
      
    }
}

@include rwd(576px){
    .join_benefit{
        .container{
            h1{
                font-size: $fs20;
            }
            .benefit_wrapper{
                .benefit_img{
                    img{
                        display: none;
                    }
                }
    
            }
        }
    }
    .join_condition{
        height: auto;
            .join_btn{
                button{
                    width: 160px;
                    height: 50px;
                    font-size: 16px;
                }
                
            }
            .container{
                width: 80%;
                .learn_condition_wrapper{
                    width: 100%;
                    margin: 0;
                    background: linear-gradient(180deg, #79cbd4 0%, #79cbd4 9%, #fff 9%);
                    h4{
                        font-size: 16px;
                    }
                    .learn_condition{
                        ul{
                            flex-direction: column;
                            width: auto;
                            align-content: center;
                            li{
                                width: 45%;
                                font-size: 14px;
                            }
                        }
                    }
                }
                .travel_condition_wrapper{
                    width: 100%;
                    margin: 0;
                    background: linear-gradient(180deg, #79cbd4 0%, #79cbd4 9%, #fff 9%);
                    h4{
                        font-size: 16px;
                    }
                    .travel_condition{
                        ul{
                            flex-direction: column;
                            width: auto;
                            align-content: center;
                            li{
                                width: 45%;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }             
      
    }
    .join_button{
        .container{
            button{
                margin: 60px 50px 80px;
            }
        }
    }
}



/*-------- join rwd end ---------*/