
.join_learn{
    padding: 50px 0 80px;
    background-color: $bg_yellow;
    .container{
        h1{
            font-size: $fs28;
            font-weight: 500;
            text-align: center;
            font-weight: 600;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }
        img{
            display: block;
            margin: 0 auto;
            width: 100%;
            width: 200px;
            margin-bottom: 20px;
        }
        .labels{
            display: flex;
            justify-content: space-evenly;
            margin: 0 auto;
            width: 78%;
            margin-bottom: 30px;
            .learn_label{
                width: 300px;
                height: 50px;
                background-color: $dark_blue;
                border-radius: 5px;
                outline: 3px solid $dark_blue;
                p{
                    color: $clear_white;
                    text-align: center;
                    line-height: 50px;
                    font-size: $fs20;
                }
            }
            .travel_label{
                width: 300px;
                height: 50px;
                background-color: $clear_white;
                border-radius: 5px;
                outline: 3px solid $dark_blue;
                p{
                    color: $dark_blue;
                    text-align: center;
                    line-height: 50px;
                    font-size: $fs20;
                }
            }
        }
        .learn_apply{
            margin: 0 auto;
            width: 78%;
            background-color: $clear_white;
            border-radius: 5px;
            padding: 35px 25px;
            .input_row {
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .form_group{
                width: 48%;
                label{
                    text-indent: 2px;
                    margin-bottom: 5px;
                }
                input, select{
                    width: 100%;
                    margin-bottom: 5px;
                }
                }
            }
            h1{
                font-size: 14px;
                font-weight: 400;
            }
            .ck.ck-editor {
                position: relative;
                margin: 0 auto;
                width: 880px;
            }
            .ck-editor__editable{
                min-height: 200px;
                &:focus{
                    background-color:$light_blue;
                    border: 3px solid $dark_blue;
                    outline: 0;
                    transition: all 0.3s ease;
                }
            }
            .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
                // border-color: $dark_blue;
            }


            
        }
    }
    .join_learn_btn{
        text-align: center;
        button{
            margin: 60px 50px 0;
        }
    }
}

@include rwd(992px){
    .join_learn{
        .container{
            h1{
                font-size: $fs24;
            }
            img{
                width: 170px;
            }
            .labels{
                width: 70%;
                .learn_label{
                    width: 40%;
                    height: 40px;
                    p{
                        line-height: 40px;
                        font-size: $fs18;
                    }
                }
                .travel_label{
                    width: 40%;
                    height: 40px;
                    p{
                        line-height: 40px;
                        font-size: $fs18;
                    }
                }
            }
        }
    }
}