/* join_ok */

// *{
//     outline: 1px solid red;
// } 

.join_ok_container{
    background-color: $bg_yellow;
    padding: 50px 0;
    .container{
        img{
            display: block;
            margin: 0 auto;
            width: 100%;
            width: 240px;
        }
        .join_ok{
            background-image: url('../../image/join/join_ok.png');
            background-repeat: no-repeat;
            // background-size: contain;
            background-position: left;
            background-size: 20%;
            width: 820px;
            height: 280px;
            margin: 0 auto;
            .join_ok_text{
                margin: 0 auto;
                width: 500px;
                height: auto;
                text-align: center;
                background-color: $dark_blue;
                border-radius: 15px;
                display: flex;
                /* 水平置中 */
                justify-content: center;    
                /* 垂直置中 */
                align-items: center;  
                padding: 30px;
                p{
                    font-size: $fs20;
                    font-weight: 600;
                    letter-spacing: 8px;
                    text-align: left;
                    line-height: 2.5;
                    color: $text_gray;
                }
            }
        }
    }
    
}


/* rwd start*/
@include rwd(1200px){}

@include rwd(992px){}

@include rwd(768px){
    .join_ok_container{
        img{
            width: 25%;
        }
        .join_ok{
            width: 650px;
            .join_ok_text{
                width: 400px;
                p{
                    font-size: $fs18;
                }
            }
        }
    }
}

@include rwd(576px){
    .join_ok_container{
        .join_ok{
            background-image: none;
            width: auto;
            height: auto;
            .join_ok_text{
                width: 80%;
                padding: 10px;
                p{
                    font-size: 15px;
                }
            }
        }
    }
}

/* rwd end*/


