.learning_content{
    max-width: 100%;
    // height: 850px;
    background-color: $bg_yellow;
    font-weight: 600;
    .container_learning{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        padding-top: 80px;
        h1{
            font-size: $fs40;
            font-weight: 600;
        }
        span{
            font-size: $fs40;
            color: $dark_orange;
            margin-left: 20px;
        }
        p{
            font-size: 20px;
            margin-left: 20px;
        }
        img{
            width: 80%;
            max-width: 800px;
            margin-top: 80px;
        }
    }
    .container_learning_bottom{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: end;
        align-items: end;
        margin-top: 100px;
        img{
            width: 40%;
            max-width: 260px;
        }
        .lesson_tip{
            margin-left: 80px;
            p{
                font-size: $fs32;
                span{
                    font-size: $fs40;
                    color: $dark_orange;
                    margin-left: 20px;
                }
            }
        }
    }
}



.learning_main{
    background-image: url("../assets/image/learning/learning_bgi2.png");
    background-position: top;
    .hot_learning{
        text-align: center;
        font-size: $fs36;
        font-weight: 600;
        margin-top: 100px;
        margin-bottom: 100px;
        .item h4{
            padding: 10px;
            background-color: $ft_yellow;
            border-radius: 10px;
            img{
                width: 200px;
                margin: 0 auto;
                border-radius: 5px;
            }
        }
    }
    .hot_learning:after{
        content: '';
        width: 216px;
        display: block;
        margin: -18px auto;
        height: 15px;
        background-color: $dark_orange;
    }
    
}



.owl-nav{
    display: none;
}


.owl-stage-outer{
    margin-bottom: 60px;
    margin-top: 80px;
}

// ---------------
.learning_icon{
    max-width: 1320px;
    margin: 0 auto;
    div{
        text-align: center;
    
    


        .item h4{
            padding: 10px;
            background-color: #faeecd;
            border-radius: 10px;

            img{
                width: 50%;
                margin: 0 auto;
                border-radius: 5px;
                display: inline-block;
            }
            .content_p{
                font-size: $fs20;
            }
            div{
                font-weight: 600;
            }
        }
    }
}


.learning_more {
    text-align: center;
    font-size: $fs36;
    font-weight: 600;
    margin-top: 40px;
    // margin-bottom: 40px;
    button{
        cursor: pointer;
    }
}



.owl-carousel{
    max-width: 1000px;
    margin: 0 auto;
}

/* 輪播 end */



/* 常見問題 */
.learning_bgc{
    background-color: $bg_yellow;
    padding-bottom: 40px;
    padding-top: 40px;
}


.student_share_word {
    text-align: center;
    font-size: $fs36;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 100px;
}
.student_share_word:after{
    content: '';
    width: 150px;
    display: block;
    margin: -18px auto;
    height: 15px;
    background-color: $dark_orange;
}



.learning_qa_all{
    margin: 50px auto;
    .learning_qa{
        max-width: 1000px;
        width: 80%;
        margin: 20px auto;
        letter-spacing: 1.2px;
        font-weight: 600;
        border-radius: 5px;
      
        .learning_q {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #FFE59D;
          padding: 15px;
          margin-bottom: 10px;
          letter-spacing: 1.2px;
          font-weight: 600;
          border-radius: 10px;
          span {
              font-size: 24px;
              color: $gray;
            }
        }
        .learning_a {
          background-color: $clear_white;
          padding: 15px;
          background-color: $ft_yellow;
          border-radius: 10px;
        }
      }
}












/* ----------螢幕小於992px時---------- */
@media screen and (max-width: 992px){
    .learning_content .container_learning{
        padding-top: 40px;
    }
    .lesson_tip{
        margin-left: 40px;
        margin-right: 40px;
    }
    .container_learning_bottom{
        margin-top: 30px;
        margin-right: 30px;
    }
  }

  /* ----------螢幕小於768px時---------- */
@media screen and (max-width: 768px){
    .learning_content .container_learning_bottom .lesson_tip p,
    .learning_content .container_learning_bottom .lesson_tip p span{
        font-size: 24px;
    }
    .learning_content .container_learning img{
        margin-top: 30px;
    }
    .learning_content .container_learning_bottom .lesson_tip{
        margin-top: 30px;
    }
    .student_share_img img{
        width: 50%;
    }
    .student_share .learning_wrapper,
    .student_share .learning_wrapper .box,
    .student_share .learning_wrapper .box_1,
    .student_share .learning_wrapper .box_2,
    .student_share .learning_wrapper .box_3,
    .student_share .learning_wrapper .card{
        position: static;
    }
    .box_3{
        display: none;
    }
  }