.learning_option_inner{
    // background-color: #f5f5f5;
    padding: 60px 0;
}

.option_allcontent{
    max-width: 800px;
    width: 80%;
    margin: 0 auto;

}

.learning_option_select{
    width: 150px;
    height: 40px;
    border: 3px solid $dark_blue;
    background-color: $light_blue;
    font-size: 16px;
    border-radius: 5px;
    color: $gray;
    outline: none;
    text-align: center;
}


.option_box{
    width: 150px;
    height: 40px;
    border: 3px solid $dark_blue;
    background-color: $dark_blue;
    font-size: 16px;
    border-radius: 5px;
    color: $gray;
    margin-left: 5px;
}

.option_top{
    display: flex;
    justify-content: start;
    background-color: $light_blue;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.option_banner{

    font-weight: 600;

}



// 燈箱

button{
    cursor: pointer;
}

.none{
    display: none;
}


#option_lightbox {
    /*   border: 1px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.2);
    z-index: 2;
}




#option_text{
    max-width: 800px;
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 5px;
    background-color: #DCECEE;
    border: 1px solid #79cbd4;
    font-size: 16px;
    color: #585858;
    margin-top: 30px;
    margin-bottom: 20px;
}

.option_input_label{
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #585858;
    font-size: 24px;
}

.option_btn{
    display: flex;
    justify-content: center;
}


.option_ok,
.option_no{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.option_ok{
    background-color: #79cbd4;
    color: white;
}

.option_no{
    border: 2px solid #79cbd4;
    color: #79cbd4;
    background-color: white;
}



// #option_lightbox article{
//     max-width: 400px;
//     width: 90%;
//     /* background-color: #89C7C7; */
//     text-align: center;
//     padding: 20px;
//     border-radius: 5px;

//     background-color: #DCECEE;
//     box-shadow: 0 0 10px #ddd;

//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

#option_text:focus{
/* background-color: #DCECEE; */
outline: 2px solid #89C7C7;
transition: all 0.2s ease;
}

.page_number{
    text-align: center;
    padding-bottom: 30px;
    a{
        color: $gray;
        background-color: $clear_white;
        font-size: $fs20;
        display: inline-block;
        width: 30px;
        line-height: 30px;
        margin: 0 5px;
        border-radius: 5px;
        // border: 1px solid $bg_gray;
        &:nth-child(1),&:nth-child(2){
            // color: $bg_gray;
            background-color: $light_blue;
        }
        &:hover{
            background-color: $light_blue;
        }
    }
}
