
.learning_content{
    max-width: 100%;
    // height: 850px;
    // background-color: $bg_yellow;
    font-weight: 600;
    // padding-bottom: 100px;
    .container_learning{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        padding-top: 80px;
        h1{
            font-size: $fs40;
            font-weight: 600;
        }
        span{
            font-size: $fs40;
            color: $dark_orange;
            margin-left: 20px;
        }
        p{
            font-size: 20px;
            margin-left: 20px;
        }
        img{
            width: 95%;
            max-width: 800px;
            margin-top: 80px;
        }
    }
    .learning_tips{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: center;
        div{
            text-align: center;
            width: 200px;
            height: 150px;
            background-color: #FDF8EE;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            border-radius: 5px;
            margin: 10px 20px;
            padding-top: 20px;
            p{
                font-size: $fs36;
            }
            h3{
                font-size: $fs28;
                color: #585858;
            }
        }
    }
    .container_learning_bottom{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: end;
        align-items: end;
        margin-top: 100px;
        img{
            width: 40%;
            max-width: 260px;
        }
        .lesson_tip{
            margin-left: 80px;
            p{
                font-size: $fs32;
                span{
                    font-size: $fs40;
                    color: $dark_orange;
                    margin-left: 20px;
                }
            }
        }
    }
}



.learning_main{
    // background-color: $ft_yellow;
    // background-image: url("../assets/image/learning/learning_bgi2.png");
    background-position: top;
    .hot_learning{
        text-align: center;
        font-size: $fs36;
        font-weight: 600;
        // margin-top: 100px;
        margin-bottom: 100px;
        margin-top: 80px;
        .item h4{
            padding: 10px;
            // background-color: $ft_yellow;
            border-radius: 10px;
            font-weight: 600;
            img{
                width: 200px;
                margin: 0 auto;
                border-radius: 5px;
            }
        }
    }
    .hot_learning:after{
        content: '';
        width: 216px;
        display: block;
        margin: -18px auto;
        height: 15px;
        background-color: $dark_orange;
    }
    
}



.owl-nav{
    display: none;
}


.owl-stage-outer{
    margin-bottom: 60px;
    margin-top: 80px;
}

// ---------------
.learning_icon{
    max-width: 1320px;
    margin: 0 auto;
    div{
        text-align: center;
    
    


        .item h4{
            padding: 10px;
            background-color: #faeecd;
            // background-image: url("../../../../assets/image/bgi001.png");
            border-radius: 10px;

            img{
                width: 50%;
                margin: 0 auto;
                border-radius: 5px;
                display: inline-block;
            }
            .content_p{
                font-size: $fs20;
                font-weight: 600;
            }
            .hot_name{
                font-weight: 600;
            }
        }
    }
}

.hot_name{
    font-weight: 600;
}

.learning_more {
    text-align: center;
    font-size: $fs36;
    font-weight: 600;
    margin-top: 40px;
    // margin-bottom: 40px;
    button{
        cursor: pointer;
    }
}



.owl-carousel{
    max-width: 1000px;
    margin: 0 auto;
}

/* 輪播 end */



/* 常見問題 */
.learning_bgc{
    // background-color: $bg_yellow;
    padding-bottom: 40px;
    padding-top: 40px;
}


.student_share_word {
    text-align: center;
    font-size: $fs36;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #585858;
}
.student_share_word:after{
    content: '';
    width: 150px;
    display: block;
    margin: -18px auto;
    height: 15px;
    background-color: $dark_orange;
}



.learning_qa_all{
    margin: 50px auto;
    font-size: 18px;
    .learning_qa{
        max-width: 1000px;
        width: 80%;
        margin: 20px auto;
        letter-spacing: 1.2px;
        font-weight: 600;
        border-radius: 5px;
      
        .learning_q {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #FAEECD;
          padding: 15px;
          margin-bottom: 10px;
          letter-spacing: 1.2px;
          font-weight: 600;
          border-radius: 10px;
          span {
              font-size: 24px;
              color: $gray;
            }
        }
        .learning_a {
          background-color: $clear_white;
          padding: 15px;
          background-color: $light_yellow;
          border-radius: 10px;
        }
      }
}

// 動畫
.Saly-33,
.Saly-34{
    position: relative;
    margin-bottom: 30px;
    margin-top: 1.5%;
    animation-name: Saly33_34;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: normal;
    animation-fill-mode: none;
}

@keyframes Saly33_34{
  0%{
    top: 5px;
  }
  10%{
    top: 10px;
  }
  20%{
    top: 20px;
  }
  30%{
    top: 30px;
  }
  40%{
    top: 40px;
  }
  50%{
    top: 45px;
  }
  60%{
    top: 35px;
  }
  75%{
    top: 25px;
  }
  90%{
    top: 15px;
  }
  100%{
    top: 5px;
  }
}


.Saly-35,
.Saly-36{
    position: relative;
    // margin-bottom: 30px;
    // margin-top: 1.5%;
    animation-name: Saly35_36;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: normal;
    animation-fill-mode: none;
}

@keyframes Saly35_36{
  0%{
    transform: rotate(10deg);
  }
  10%{
    transform: rotate(20deg);
  }
  20%{
    transform: rotate(30deg);
  }
  30%{
    transform: rotate(20deg);
  }
  40%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(-5deg);
  }
  60%{
    transform: rotate(-15deg);
  }
  75%{
    transform: rotate(-25deg);
  }
  90%{
    transform: rotate(-15deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
// 動畫end












/* ----------螢幕小於992px時---------- */
@media screen and (max-width: 992px){
    .learning_content .container_learning{
        padding-top: 40px;
    }
    .lesson_tip{
        margin-left: 40px;
        margin-right: 40px;
    }
    .container_learning_bottom{
        margin-top: 30px;
        margin-right: 30px;
    }
  }

  /* ----------螢幕小於768px時---------- */
@media screen and (max-width: 768px){
    .learning_content .container_learning_bottom .lesson_tip p,
    .learning_content .container_learning_bottom .lesson_tip p span{
        font-size: 24px;
    }
    .learning_content .container_learning img{
        margin-top: 30px;
    }
    .learning_content .container_learning_bottom .lesson_tip{
        margin-top: 30px;
    }
    .student_share_img img{
        width: 50%;
    }
    .student_share .learning_wrapper,
    .student_share .learning_wrapper .box,
    .student_share .learning_wrapper .box_1,
    .student_share .learning_wrapper .box_2,
    .student_share .learning_wrapper .box_3,
    .student_share .learning_wrapper .card{
        position: static;
    }
    .box_3{
        display: none;
    }
    .learning_main .hot_learning,
    .student_share_word {
        font-size: 28px;
    }
    
    .learning_main .hot_learning:after{
        width: 175px;

    .student_share_word:after{
        width: 115px;
    }
    }
  }

  