.order_success{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 100px auto 50px auto;
} 

.button_choose{
    text-align: center;
    margin-bottom: 100px;
    button{
        margin: 10px;
    }
}