/* sel_travel_consultant_banner */

// *{
//     outline: 1px solid red;
// } 

.sel_travel_consultant_banner{
    background-image: url('../../../image/travel/sel_travel_consultant_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    padding-top: 150px;
    .container{
        h1{
            font-size: $fs40;
            font-weight: 600;
            margin-bottom: 50px;
            span{
                color: $dark_orange;
            }
        }
        h2{
            font-size: $fs24;
            font-weight: 500;
        }
        h3{
            font-size: $fs24;
            font-weight: 500;
            margin-bottom: 50px;
            span{
                color: $dark_orange;
            }
        }
        h4{
            font-size: $fs32;
            font-weight: 600;
            display: inline-block;
            span{
                color: $dark_orange;
            }
        }
        i{
            font-size: $fs36;
            display: inline-block;
            color: $dark_orange;
            margin-left: 15px;
            animation: bounce 0.8s infinite;
        }
        @keyframes bounce {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-10px);
            }
            100% {
              transform: translateY(0);
            }
        }
    }
    
}

/* sel_travel_consultant */
.sel_travel_consultant{
    background-color: $bg_gray;
    .self_or_random{
        height: 60px;
        background-color: $ft_yellow;
        text-align: center;
        display: flex;
        justify-content: center;
        .self{
            display: block;
            line-height: 60px;
            width: 180px;
            font-size: $fs24;
            font-weight: 500;
            background-color: $clear_white;
            color: $dark_yellow;
        }
        .random{
            display: block;
            line-height: 60px;
            width: 180px;
            font-size: $fs24;
            font-weight: 500;
            a{
                display: block;
                color: $gray;
                &:hover{
                    color: $dark_yellow;
                    background-color: $clear_white;
                }
            }
        }
    }
    .self_consultant{
        .tabs{
            display: flex;
            justify-content: center;
            li{
                width: 140px;
                font-size: $fs22;
                font-weight: 600;
                text-align: center;
                a{
                    width: 140px;
                    height: 60px;
                    color: $gray;
                    line-height: 60px;
                    color: #585858;
                    display: block;
                    text-decoration: none;
                    &:hover{
                        border-bottom: 5px solid $ft_yellow;
                    }
                    &.active {
                        border-bottom: 5px solid $ft_yellow;
                    }
                }
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 50px auto;
            li{
                width: 275px;
                height: 345px;
                background: linear-gradient(180deg, $dark_blue 0%, $dark_blue 12%, $text_gray 12%, $text_gray 88%, $dark_blue 88%, $dark_blue 100%);
                border-radius: 15px;
                box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
                margin-bottom: 30px;
            
                position: relative;
                // input{
                //     width: 35px;
                //     height: 35px;
                //     margin-left: 10px;
                //     &:hover{
                //         cursor: pointer;
                //     }
                // }
                label{
                    display:block;
                    line-height:40px;
                }
                .option-input {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
                position: relative;
                top: 13.33333px;
                right: 0;
                bottom: 0;
                left: 0;
                height: 40px;
                width: 40px;
                transition: all 0.15s ease-out 0s;
                background: $white;
                border: none;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                margin-right: 0.5rem;
                outline: none;
                position: relative;
                z-index: 1000;
                }
                .option-input:hover {
                    background: #9faab7;
                }
                .option-input:checked {
                    background: $dark_blue;
                }
                .option-input:checked::before {
                width: 40px;
                height: 40px;
                display:flex;
                content: '\f00c';
                font-size: 25px;
                font-weight:bold;
                position: absolute;
                align-items:center;
                justify-content:center;
                font-family:'Font Awesome 5 Free';
                }
                .option-input:checked::after {
                -webkit-animation: click-wave 0.65s;
                -moz-animation: click-wave 0.65s;
                animation: click-wave 0.65s;
                background: $dark_blue;
                content: '';
                display: block;
                position: relative;
                z-index: 100;
                }
                .option-input.radio::after {
                border-radius: 50%;
                }
                
                @keyframes click-wave {
                0% {
                    height: 40px;
                    width: 40px;
                    opacity: 0.35;
                    position: relative;
                }
                100% {
                    height: 200px;
                    width: 200px;
                    margin-left: -80px;
                    margin-top: -80px;
                    opacity: 0;
                }
                }

                img{
                    display: block;
                    width: 100%;
                    width: 185px;
                    height: 185px;
                    // 新增高度限制
                    margin: 0 auto;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    border-radius: 15px;
                
                }
                h1{
                    text-align: center;
                    font-size: $fs18;
                    font-weight: 500;
                }
                h2{
                    text-align: center;
                    font-size: $fs18;
                    font-weight: 500;
                }
                i{
                    font-size: $fs28;
                    color: $text_gray;
                    margin-top: 10px;
                    margin-right: 8px;
                    display: inline-block;
                
                    position: absolute;
                    right: 0;
                    &:hover{
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
    .page_number{
        text-align: center;
        padding-bottom: 30px;
        a{
            color: $gray;
            background-color: $clear_white;
            font-size: $fs20;
            display: inline-block;
            width: 30px;
            line-height: 30px;
            margin: 0 5px;
            border-radius: 5px;
            // border: 1px solid $bg_gray;
            &:nth-child(1),&:nth-child(2){
                // color: $bg_gray;
                background-color: $light_blue;
            }
            &:hover{
                background-color: $light_blue;
            }
        }
    }

}

.sel_travel_consultant_button{
    text-align: center;
    background-color: $bg_gray;
    .container{
        button{
            margin: 70px 50px;
        }
    }
}