/* sel_travel_consultant_banner */

// *{
//     outline: 1px solid red;
// } 

.sel_travel_consultant_banner{
    background-color: $bg_yellow;
    height: 650px;
    padding-top: 150px;
    .container{
        display: flex;
        justify-content: space-between;
        .left_block{
            h1{
                font-size: $fs40;
                font-weight: 600;
                margin-bottom: 50px;
                span{
                    color: $dark_orange;
                }
            }
            h2{
                font-size: $fs22;
                font-weight: 600;
            }
            h3{
                font-size: $fs22;
                font-weight: 600;
                margin-bottom: 50px;
                span{
                    color: $dark_orange;
                }
            }
            h4{
                font-size: $fs28;
                font-weight: 600;
                display: inline-block;
                span{
                    color: $dark_orange;
                }
            }
            i{
                font-size: $fs32;
                display: inline-block;
                color: $dark_orange;
                margin-left: 15px;
                animation: bounce 0.8s infinite;
            }
            @keyframes bounce {
                0% {
                  transform: translateY(0);
                }
                50% {
                  transform: translateY(-8px);
                }
                100% {
                  transform: translateY(0);
                }
            }
        }
        .right_block{
            img{
                display: block;
                width: 100%;
            }
        }
       
    }
    
}

/* sel_travel_consultant */
.sel_travel_consultant{
    background-color: $bg_yellow;
    .self_or_random{
        height: 60px;
        background-color: $ft_yellow;
        text-align: center;
        display: flex;
        justify-content: center;
        .self{
            display: block;
            line-height: 60px;
            width: 180px;
            font-size: $fs20;
            font-weight: 600;
            background-color: $light_yellow;
            color: $gray;
            i{
                margin-right: 10px;
            }
        }
        .random{
            display: block;
            line-height: 60px;
            width: 180px;
            font-size: $fs20;
            font-weight: 600;
            a{
                display: block;
                color: $gray;
                &:hover{
                    color: $gray;
                    background-color: $light_yellow;
                }
                i{
                    margin-right: 10px;
                }
            }
        }
    }
    .self_consultant{
        .tabs{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            li{
                width: 120px;
                font-size: $fs18;
                font-weight: 600;
                text-align: center;
                a{
                    width: 100px;
                    color: $gray;
                    line-height: 60px;
                    color: $gray;
                    display: block;
                    text-decoration: none;
                    &:hover{
                        border-bottom: 10px solid $dark_blue;
                    }
                    &.active {
                        border-bottom: 10px solid $dark_blue;
                    }
                }
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 40px auto;
            margin-left: 20px;
            li{
                border: 2px solid #79cbd4;
                background-color: #DCECEE;
                width: 300px;
                // text-align: center;
                padding: 0 20px 40px 20px;
                border-radius: 10px;
                transition: .3s;
                margin: 10px;
            
                position: relative;
                &:hover{
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
                }

                //radio change style
                label{
                    display: block;
                }
                .option-input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    -o-appearance: none;
                    // 分別針對不同瀏覽器（WebKit、Gecko和Opera）的CSS外觀屬性，用於覆蓋元素的原始外觀。
                    appearance: none;
                    position: relative;
                    top: 10px;
                    right: 0px;
                    bottom: 0;
                    left: -10px;
                    height: 35px;
                    width: 35px;
                    transition: all 0.15s ease-out 0s;
                    background: $clear_white;
                    border: none;
                    color: $clear_white;
                    cursor: pointer;
                    display: inline-block;
                    margin-right: 0.5rem;
                    outline: none;
                    position: relative;
                    // z-index: 1000;
                    border-radius: 10px;
                }
                .option-input:hover {
                    background: #9faab7;
                }
                .option-input.-checked {
                    background: $clear_white;
                    color: $dark_blue;
                }
                .option-input.-checked::before {
                    width: 35px;
                    height: 35px;
                    display:flex;
                    content: '\f00c';
                    font-size: 33px;
                    font-weight: 600;
                    position: absolute;
                    align-items:center;
                    justify-content:center;
                    font-family:'Font Awesome 5 Free';
                }
                .option-input.-checked::after {
                    -webkit-animation: click-wave 0.65s;
                    -moz-animation: click-wave 0.65s;
                    animation: click-wave 0.65s;
                    background: $dark_blue;
                    content: '';
                    display: block;
                    position: relative;
                    z-index: 100;
                }

                //勾選後背景效果
                .option-input.radio::after {
                    border-radius: 50%;
                }
                
                @keyframes click-wave {
                    0% {
                        height: 40px;
                        width: 40px;
                        opacity: 0.35;
                        position: relative;
                    }
                    100% {
                        height: 200px;
                        width: 200px;
                        margin-left: -80px;
                        margin-top: -80px;
                        opacity: 0;
                    }
                }
                //radio change style end

                img{
                    display: block;
                    width: 100%;
                    width: 185px;
                    height: 185px;
                    // 新增高度限制
                    margin: 0 auto;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    border-radius: 10px;
                
                }
                h1{
                    text-align: center;
                    font-size: $fs18;
                    font-weight: 600;
                }
                h2{
                    text-align: center;
                    font-size: $fs18;
                    font-weight: 600;
                }

                .fa-heart {
                    font-size: 24px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    color: $dark_blue;
                    margin-right: 22px;
                    display: inline-block;
                
                    position: absolute;
                    right: 0;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                  
                .fa-heart.fa-solid {
                    color: $dark_blue;
                    animation: pulse 1s backwards;
                }
                
                @keyframes pulse {
                    0% {
                        box-shadow: 0 0 0 0 rgba(121, 203, 212, 0.4);
                        border-radius: 50%;
                    }
                    
                    70% {
                        box-shadow: 0 0 0 15px rgba(121, 203, 212, 0);
                        border-radius: 50%;
                    }
                    
                    100% {
                        box-shadow: 0 0 0 0 rgba(121, 203, 212, 0);
                        border-radius: 50%;
                    }
                }
                
                
            }
        }
    }
    .page_number{
        text-align: center;
        padding-bottom: 30px;
        a{
            color: $gray;
            background-color: $clear_white;
            font-size: $fs20;
            display: inline-block;
            width: 30px;
            line-height: 30px;
            margin: 0 5px;
            border-radius: 5px;
            // border: 1px solid $bg_gray;
            &:nth-child(1),&:nth-child(2){
                // color: $bg_gray;
                background-color: $light_blue;
            }
            &:hover{
                background-color: $light_blue;
            }
        }
    }

}

.sel_travel_consultant_button{
    text-align: center;
    background-color: $bg_yellow;
    .container{
        button{
            margin: 70px 50px;
        }
    }
}

/*-------- sel_travel_consultant rwd start ---------*/
@include rwd(1200px){
    .sel_travel_consultant_banner{
        height: 550px;
        padding-top: 100px;
        .container{
            .left_block{
                margin-left: 40px;
                h1{
                    font-size: $fs32;
                }
                h2{
                    font-size: $fs20;
                }
                h3{
                    font-size: $fs20;
                }
                h4{
                    font-size: $fs24;
                }
                i{
                    font-size: $fs28;
                }
            }
            .right_block{
                img{
                    width: 80%;
                }
            }
            
            
        }
    }
    .sel_travel_consultant{
        .self_or_random{
            .self{
                font-size: $fs18;
            }
            .random{
                font-size: $fs18;
            }
        }
        .self_consultant{
            .tabs{
                li{
                    font-size: 16px;
                    a{
                        line-height: 50px;
                    }
                }
            }
            ul{
                justify-content: space-between;
                margin: 40px 60px;
            }
        }
    }
}

@include rwd(992px){
    .sel_travel_consultant_banner{
        height: 500px;
        .container{
            .left_block{
                margin-left: 40px;
                h1{
                    font-size: $fs28;
 
                }
                h2{
                    font-size: $fs18;

                }
                h3{
                    font-size: $fs18;
    
                }
                h4{
                    font-size: $fs22;
    
                }
                i{
                    font-size: $fs26;

                }
            }
           
        }
    }
    .sel_travel_consultant{
        .self_or_random{
            height: 50px;
            .self{
                line-height: 50px;
                font-size: 16px;
            }
            .random{
                line-height: 50px;
                font-size: 16px;
            }
        }
        .self_consultant{
            .tabs{
                li{
                    font-size: 16px;
                    a{
                        line-height: 50px;
                    }
                }
            }
            ul{
                justify-content: space-around;
            }
        }
    }
}

@include rwd(768px){
    .sel_travel_consultant_banner{
        padding-top: 80px;
        height: 450px;
        .container{
            .left_block{
                margin-left: 40px;
                h1{
                    font-size: $fs24;
 
                }
                h2{
                    font-size: 16px;

                }
                h3{
                    font-size: 16px;
    
                }
                h4{
                    font-size: $fs20;
    
                }
                i{
                    font-size: $fs24;

                }
            }
           
        }
    }
    .sel_travel_consultant{
        .self_or_random{
            height: 50px;
            .self{
                line-height: 50px;
                font-size: 16px;
            }
            .random{
                line-height: 50px;
                font-size: 16px;
            }
        }
        .self_consultant{
            .tabs{
                li{
                    font-size: 16px;
                    a{
                        line-height: 50px;
                    }
                }
            }
            ul{
                justify-content: space-around;
            }
        }
        .page_number{
            a{
                font-size: $fs18;
            }
        }
    
    }
}

@include rwd(576px){
    .sel_travel_consultant_banner{
        padding-top: 60px;
        height: 600px;
        text-align: center;
        .container{
            flex-direction: column;
            .left_block{
                margin-left: 0;
                h1{
                    font-size: $fs20;
                    margin-bottom: 40px;
 
                }
                h2{
                    font-size: 14px;

                }
                h3{
                    font-size: 14px;
    
                }
                h4{
                    font-size: $fs18;
    
                }
                i{
                    font-size: $fs22;

                }
            }
            .right_block{
                img{
                    width: 50%;
                    margin: 0 auto;
                    margin-top: 30px;
                }
            }
           
        }
    }
    .sel_travel_consultant{
        .self_or_random{
            height: 45px;
            .self{
                line-height: 45px;
                width: 150px;
            }
            .random{
                line-height: 45px;
                width: 150px;
            }
        }
        .self_consultant{
            .tabs{
                li{
                    width: 110px;
                    font-size: 14px;
                    a{
                        width: 90px;
                        line-height: 40px;
                        &:hover{
                            border-bottom: 8px solid $dark_blue;
                        }
                        &.active {
                            border-bottom: 8px solid $dark_blue;
                        }
                    }
                }
            }

        }
        .page_number{
            a{
                font-size: 16px;
            }
        }
    
    }
}


/*-------- sel_travel_consultant rwd start ---------*/