/* *{
    outline: 1px solid red;
} */

.travel_map_wrapper{
    width: 100%;
    height: 1200px;
    padding-top: 60px;
    background-color: $green;
    .container{
        .travel_map{
            position: relative;
            text-align: center;
            h1{
                font-size: $fs28;
                font-weight: 600;
                letter-spacing: 5px;
                text-align: center;
                margin-bottom: 40px;
                color: $white;
            }
            img{
                display: block;
                width: 100%;
                width: 850px;
                margin: 0 auto;
            }
            .travel_map_radio{
                width: 100%;
                text-align: center;
                input{
                    display: none;
                }
      

                .north{
                    &:hover:after{
                        background-color: $text_gray;
                        transition: all .8s;
                    }
                    &:after{
                        content: '北';
                        display: block;
                        width: 80px;
                        line-height: 80px;
                        background-color: $dark_yellow;
                        border-radius: 50%;
                        font-size: $fs28;
                        font-weight: 600;
                    
                        position: absolute;
                        top: 5%;
                        left: 65%;
                    }
                }

                .middle{
                    &:hover:after{
                        background-color: $text_gray;
                        transition: all .8s;
                    }
                    &:after{
                        content: '中';
                        display: block;
                        width: 80px;
                        line-height: 80px;
                        background-color: $dark_yellow;
                        border-radius: 50%;
                        font-size: $fs28;
                        font-weight: 600;
                        
                        position: absolute;
                        top: 35%;
                        left: 30%;
                    }
    
                }

                .south{
                    &:hover:after{
                        background-color: $text_gray;
                        transition: all .8s;
                    }
                    &:after{
                        content: '南';
                        display: block;
                        width: 80px;
                        line-height: 80px;
                        background-color: $dark_yellow;
                        border-radius: 50%;
                        font-size: $fs28;
                        font-weight: 600;
                        
                        position: absolute;
                        top: 75%;
                        left: 32%;
                    }
                }

                .east{
                    &:hover:after{
                        background-color: $text_gray;
                        transition: all .8s;
                    }
                    &:after{
                        content: '東';
                        display: block;
                        width: 80px;
                        line-height: 80px;
                        background-color: $dark_yellow;
                        border-radius: 50%;
                        font-size: $fs28;
                        font-weight: 600;
                        
                        position: absolute;
                        top: 50%;
                        left: 70%;
                    }
                }
                .selected {
                    &:after{
                        background-color: $text_gray;
                    }
                }
                
            }

            button{
                margin: 60px 50px 0;
            }            
            
        }
    }

}


/*-------- travel_map rwd start ---------*/

@include rwd(1200px){}

@include rwd(992px){
    .travel_map_wrapper{
        height: 1200px;
        padding-top: 50px;
        .container{
            width: 100%;
            .travel_map{
                h1{
                    font-size: $fs26;
                }
                img{
                    // display: block;
                    width: 90%;
                    // margin: 0 auto;
                }
                .travel_map_radio{
                    .north{
                        &:after{
                            // content: '北';
                            // display: block;
                            width: 70px;
                            line-height: 70px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs24;
                            // font-weight: 600;
                        
                            // position: absolute;
                            // top: 5%;
                            // left: 65%;
                        }
                    }
    
                    .middle{
                        &:after{
                            // content: '中';
                            // display: block;
                            width: 70px;
                            line-height: 70px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs24;
                            // font-weight: 600;
                            
                            // position: absolute;
                            // top: 35%;
                            left: 27%;
                        }
        
                    }
    
                    .south{
                        &:after{
                            // content: '南';
                            // display: block;
                            width: 70px;
                            line-height: 70px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs24;
                            // font-weight: 600;
                            
                            // position: absolute;
                            // top: 75%;
                            left: 30%;
                        }
                    }
    
                    .east{
                        &:after{
                            // content: '東';
                            // display: block;
                            width: 70px;
                            line-height: 70px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs24;
                            // font-weight: 600;
                            
                            // position: absolute;
                            // top: 50%;
                            left: 74%;
                        }
                    }
                }
    
                // button{
                //     margin: 60px 50px 0;
                // }            
                
            }
        }
    
    }
}

@include rwd(768px){
    .travel_map_wrapper{
        height: 950px;
        padding-top: 40px;
        .container{
            width: 100%;
            .travel_map{
                h1{
                    font-size: $fs24;
                }
                img{
                    // display: block;
                    width: 90%;
                    // margin: 0 auto;
                }
                .travel_map_radio{
                    .north{
                        &:after{
                            // content: '北';
                            // display: block;
                            width: 60px;
                            line-height: 60px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs20;
                            // font-weight: 600;
                        
                            // position: absolute;
                            // top: 5%;
                            // left: 65%;
                        }
                    }
    
                    .middle{
                        &:after{
                            // content: '中';
                            // display: block;
                            width: 60px;
                            line-height: 60px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs20;
                            // font-weight: 600;
                            
                            // position: absolute;
                            // top: 35%;
                            left: 25%;
                        }
        
                    }
    
                    .south{
                        &:after{
                            // content: '南';
                            // display: block;
                            width: 60px;
                            line-height: 60px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs20;
                            // font-weight: 600;
                            
                            // position: absolute;
                            // top: 75%;
                            left: 30%;
                        }
                    }
    
                    .east{
                        &:after{
                            // content: '東';
                            // display: block;
                            width: 60px;
                            line-height: 60px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs20;
                            // font-weight: 600;
                            
                            // position: absolute;
                            // top: 50%;
                            left: 75%;
                        }
                    }
                    
                }
    
                // button{
                //     margin: 60px 50px 0;
                // }            
                
            }
        }
    
    }
}

@include rwd(576px){
    .travel_map_wrapper{
        // width: 100%;
        height: 850px;
        padding-top: 30px;
        .container{
            width: 100%;
            .travel_map{
                h1{
                    font-size: $fs20;
                }
                img{
                    width: 90%;
                }
                .travel_map_radio{
                    .north{
                        &:after{
                            // content: '北';
                            // display: block;
                            width: 50px;
                            line-height: 50px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs18;
                            // font-weight: 600;
                    
                            // position: absolute;
                            top: 8%;
                            left: 70%;
                        }
                    }
    
                    .middle{
                        &:after{
                            // content: '中';
                            // display: block;
                            width: 50px;
                            line-height: 50px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs18;
                            // font-weight: 600;
                            
                            // position: absolute;
                            top: 30%;
                            left: 22%;
                        }
        
                    }
    
                    .south{
                        &:after{
                            // content: '南';
                            // display: block;
                            width: 50px;
                            line-height: 50px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs18;
                            // font-weight: 600;
                            
                            // position: absolute;
                            top: 65%;
                            left: 23%;   
                        }
                    }
    
                    .east{
                        &:after{
                            // content: '東';
                            // display: block;
                            width: 50px;
                            line-height: 50px;
                            // background-color: $dark_yellow;
                            // border-radius: 50%;
                            font-size: $fs18;
                            // font-weight: 600;
                            
                            // position: absolute;
                            // top: 50%;
                            left: 75%;
                        }
                    }
                    
                }
    
                // button{
                //     margin: 60px 50px 0;
                // }            
                
            }
        }
    
    }
}


/*-------- travel_map rwd end ---------*/