/* *{
    outline: 1px solid red;
} */

/* travel_game*/
.travel_game_wrapper{
    background-image: url('../../image/travel/travel_game_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 590px;
    width: 100%;
    margin-top: 100px;
    .travel_game_container{
        .travel_game_comment{
            width: 40%;
            height: 250px;
            margin: 0 auto;
            border-radius: 5px;
            border: 15px solid $dark_blue;
            background-color: $clear_white;
        
            position: relative;
            top: -50px;
            &:after{
                content: '';
                width: 0;
                height: 0;
                border-width: 30px;
                border-style: solid;
                border-top-color: $dark_blue;
                border-right-color: $dark_blue;
                border-bottom-color: transparent;
                border-left-color: transparent;
            
                position: absolute;
                bottom: -60px;
                left: 65%;
            }
            h1{
                font-size: $fs28;
                font-weight: 500;
                text-align: center; 
                /* 水平置中 */
            
                position: absolute;
                top: 50%;
                transform: translateY(-50%); 
                left: 0;
                right: 0;
                /* 垂直置中 */
            }
            .left_arrow{
                color: $gray;
                &:hover{
                    color: $dark_orange;
                }
                i{
                    font-size: $fs40;  
                    position: absolute;
                    left: 20px;
                    bottom: 10px;  
                }
            }
            .right_arrow{
                color: $gray;
                &:hover{
                    color: $dark_orange;
                }
                i{
                    font-size: $fs40;  
                    position: absolute;
                    right: 20px;
                    bottom: 10px;  
                }
            }
            
        }
    }
} 


// .travel_game_wrapper .travel_game_container .travel_game_comment{
//     width: 40%;
//     height: 250px;
//     margin: 0 auto;
//     border-radius: 5px;
//     border: 15px solid $dark_blue;
//     background-color: $clear_white;

//     position: relative;
//     top: -50px;
// }

// .travel_game_wrapper .travel_game_container .travel_game_comment::after{
//     content: '';
//     width: 0;
//     height: 0;
//     border-width: 30px;
//     border-style: solid;
//     border-top-color: $dark_blue;
//     border-right-color: $dark_blue;
//     border-bottom-color: transparent;
//     border-left-color: transparent;

//     position: absolute;
//     bottom: -60px;
//     left: 65%;
// }

// .travel_game_wrapper .travel_game_container .travel_game_comment h1{
//     font-size: $fs28;
//     font-weight: 500;
//     text-align: center; 
//     /* 水平置中 */

//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%); 
//     left: 0;
//     right: 0;
//     /* 垂直置中 */
// }

// .travel_game_wrapper .travel_game_container .travel_game_comment .left_arrow{
//     color: $gray;
// }

// .travel_game_wrapper .travel_game_container .travel_game_comment .left_arrow:hover{
//     color: $dark_orange;
// }

// .travel_game_wrapper .travel_game_container .travel_game_comment .left_arrow i{
//     font-size: $fs40;  
//     position: absolute;
//     left: 20px;
//     bottom: 10px;  
// }

// .travel_game_wrapper .travel_game_container .travel_game_comment .right_arrow{
//     color: $gray;
// }

// .travel_game_wrapper .travel_game_container .travel_game_comment .right_arrow:hover{
//     color: $dark_orange;
// }

// .travel_game_wrapper .travel_game_container .travel_game_comment .right_arrow i{
//     font-size: $fs40;  
//     position: absolute;
//     right: 20px;
//     bottom: 10px;  
// }
