// order_sum
.order {
  border: 3px solid $text_gray;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.3s;
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  .order_content {
    display: flex;
    justify-content: space-between;
    .order_left {
      width: 70%;
      display: flex;
      .category {
        background-image: url(../../../image/member/music.png);
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
        width: 180px;
        height: 180px;
        border: 3px solid $text-gray;
        margin-right: 20px;
      }
      .order_summary {
        h2 {
          font-weight: 500;
          color: $dark_blue;
        }
        p {
          i {
            margin-right: 5px;
          }
        }
        // order_item_details
        .order_content_details {
          margin-top: 5px;
          i {
            width: 30px;
            text-align: center;
          }
        }
      }
    }
    .order_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .date {
        background-color: $bg_gray;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 60px;
        height: 60px;
        justify-content: center;
        font-weight: 600;
        color: $dark_blue;
        border-radius: 5px;
        align-self: end;
        font-size: 18px;
      }
      p {
        margin-top: 40px;
        text-align: right;
        color: $dark_blue;
        font-weight: 600;
      }
      a {
        text-align: center;
        line-height: 50px;
      }
    }
  }
}

// history_order
.history_order {
  border: 3px solid $text_gray;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.3s;
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  .order_content {
    display: flex;
    justify-content: space-between;
    .order_left {
      width: 60%;
      display: flex;
      .order_title {
        display: flex;
        flex-direction: column;
        .category {
          background-image: url(../../../image/member/music.png);
          background-size: cover;
          border-radius: 10px;
          width: 140px;
          height: 140px;
          border: 3px solid $text-gray;
          margin-right: 20px;
        }
        a {
          display: block;
          margin-top: 15px;
          padding-left: 5px;
          color: $dark_blue;
          font-weight: 500;
        }
      }
      .order_summary {
        h2 {
          font-weight: 500;
        }
        p {
          i {
            margin-right: 5px;
          }
        }
      }
    }
    .order_right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .date {
        background-color: $bg_gray;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 60px;
        height: 60px;
        justify-content: center;
        font-weight: 600;
        border-radius: 5px;
        align-self: end;
        font-size: 18px;
      }
      p {
        margin-top: 40px;
        text-align: right;
        font-weight: 600;
      }
    }
  }
}

// order_sum RWD=========================
@media screen and (max-width: 768px) {
  .order {
    .order_content {
      flex-direction: column;
      .order_left {
        width: 100%;
        display: flex;
        .category {
          margin-right: 30px;
        }
        .order_summary {
          h2 {
            font-weight: 500;
            color: $dark_blue;
          }
          p {
            i {
              margin-right: 5px;
            }
          }
          // order_item_details
          .order_content_details {
            margin-top: 5px;
            i {
              width: 30px;
              text-align: center;
            }
          }
        }
      }
      .order_right {
        flex-direction: row;
        .date {
          background-color: $clear_white;
          height: auto;
          flex-direction: row;
          align-items: center;
          flex: 1;
          text-decoration: underline;
          margin-right: 10px;
        }
        p {
          flex: 5;
          text-align: left;
          font-size: 18px;
          color: $gray;
        }
        a {
          align-self: end;
          flex: 2;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .order {
    .order_content {
      .order_left {
        flex-direction: column;
        .category {
          margin-right: 0;
          width: 100%;
          background-position: center top;
          margin-bottom: 5px;
        }
        .order_summary {
          h2 {
          }
          p {
            i {
            }
          }
          // order_item_details
          .order_content_details {
            margin-top: 5px;
            i {
              width: 30px;
              text-align: center;
            }
          }
        }
      }
      .order_right {
        flex-direction: row;
        .date {
          background-color: $clear_white;
          height: auto;
          flex-direction: row;
          align-items: center;
          flex: 1;
        }
        p {
          flex: 5;
          text-align: left;
          font-size: 18px;
          color: $gray;
        }
        a {
          align-self: end;
          flex: 3;
          font-size: 16px;
          min-width: 80px;
        }
      }
    }
  }
}
